@charset "UTF-8";
.hidden, .pour_impr {
  display: none; }

header, nav {
  display: block; }

html {
  background: #AA8; }

body {
  margin: 0;
  padding: 10px 15px;
  font: 13px verdana, arial, sans-serif;
  text-align: left; }

header#bandeau_top {
  border-radius: 22px 22px 0 0;
  background: #131313; }

header a {
  float: left;
  display: block;
  margin: 0;
  padding: 30px 25px 10px; }

h1 {
  position: relative;
  margin: 0 16px 0 222px;
  padding: 25px 0;
  height: 62px;
  text-align: right;
  color: #ccb998;
  font: bold 2.2em /2em "Comic sans MS";
  text-shadow: 2px 3px 7px #aaa; }

#accueil h1 {
  line-height: 1em; }

h1:first-letter, h2:first-letter {
  text-transform: uppercase; }

h2 {
  clear: left;
  margin: 1em 0 0.5em;
  font-size: 150%;
  font-weight: bold;
  text-align: left; }

h3 {
  margin: 2.5em 0 0;
  font-size: 120%;
  font-weight: bold;
  text-align: left; }

p {
  margin-left: 1em; }

form p {
  margin-left: 0; }

div {
  text-align: left; }

nav {
  border-bottom: 1px solid #225522;
  padding: 0.5% 0;
  background: #87a587;
  /* Old browsers */
  background: -moz-linear-gradient(top, #87a587 0%, #83c783 7%, #2b5b2b 28%, #2b5b2b 63%, #1f3f1e 83%, #002400 100%);
  /* FF3.6+ */ }
  nav a {
    display: block;
    padding: 1em;
    font-weight: bold;
    color: #ddd;
    text-decoration: none; }
  nav a:hover {
    color: #fff; }
  nav a.help {
    color: #13ce31; }
  nav a.bugs {
    color: orange; }
  nav ul {
    min-height: 3em;
    margin-left: .5%; }
  nav li {
    float: left;
    margin: auto;
    list-style: none; }
  nav li#deconnexion {
    float: right; }
  nav ul ul {
    position: absolute;
    top: 20px;
    margin-left: 0;
    width: 20em;
    border: 1px solid #ccc;
    background: #507044;
    box-shadow: 5px 6px 14px rgba(0, 0, 0, 0.8); }
    nav ul ul li {
      float: none;
      border-right: none; }
  nav ul li ul {
    display: none; }
  nav ul li:hover ul {
    display: block; }

#logo {
  float: left;
  margin-left: 10px; }

#langue {
  position: absolute;
  top: 62px;
  right: 40px; }

hr {
  margin: 2em 0 1em; }

article {
  padding: 1em;
  background: #9A9;
  box-shadow: 0 13px 18px -10px #032e10 inset; }

form.commande_panier {
  background: #eee;
  border: 1px solid #999; }

li {
  list-style: square outside; }

tfoot form {
  width: 100%; }
  tfoot form div {
    text-align: center; }

form div {
  clear: left; }

form.rech div {
  margin: 0; }

label {
  margin: 0 1em 1em 0;
  width: 9em; }

.valide {
  color: green; }

.nonvalide {
  color: red; }

a {
  color: teal; }
  a img {
    border: none; }

a:hover {
  color: orange; }

article form {
  padding: 1em;
  text-align: center; }
article table.list form {
  padding: 0; }
article fieldset div, article form.rech div {
  display: table-row;
  height: 2.5em; }
article fieldset label {
  padding: .5em; }
article fieldset.chck label {
  display: inline; }
article fieldset.pannes label {
  width: 18.5em; }
article form input[type='hidden'] {
  display: none; }
article form input[type='search'] {
  width: 20em; }

label:first-child, div.champ, article form input, textarea {
  display: table-cell;
  vertical-align: middle; }

textarea.auto_submit {
  height: 1em;
  width: 3em; }

label.radio {
  float: none;
  display: inline;
  padding-right: 1em; }

input {
  width: 30em; }

input[type="checkbox"], input[type='radio'] {
  width: auto;
  vertical-align: bottom; }

input[type="date"] {
  width: 6em; }

div.champ input {
  margin-right: .5em; }

.num, .quantite, .prix {
  text-align: right; }

input.num {
  width: 6em; }

input.prix {
  width: 8em; }

table {
  /* tableaux par defaut */
  margin: 1em 0;
  border: 1px solid #d7c0bf;
  clear: left;
  box-shadow: 7px 4px 21px rgba(0, 0, 0, 0.8); }
  table caption {
    font-weight: bold;
    text-align: center;
    margin: 0.5em 0; }
  table tbody {
    background: #eee; }
  table tfoot {
    border-top: 1px solid black; }
  table input.num_small {
    width: 2em;
    text-align: right; }
  table td.num {
    padding-right: 1em;
    text-align: right; }
  table input {
    width: auto;
    margin-left: auto; }
  table input.rebut_cd, table input.rebut_impr {
    width: 2em;
    text-align: right; }
  table tr {
    background: #ddd; }
  table tr:nth-child(even) {
    background: #bbb; }
  table tr:nth-child(odd) {
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.6) 0%, rgba(189, 201, 199, 0) 25%, rgba(27, 36, 39, 0) 85%, rgba(0, 0, 0, 0.25) 100%);
    /* W3C */ }
  table tr.annule {
    background: #e4ceaf;
    color: #999; }
  table tr.afaire {
    background: #deaa5f; }
  table tr.afaire td.asaisir {
    background: #efcc5f; }
  table tr.validation_en_cours {
    background: #FF7700; }
  table tr:hover, table tr.on {
    color: black;
    background: #ffed82; }
  table tr:nth-child(odd):hover {
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.6) 0%, rgba(189, 201, 199, 0) 25%, rgba(27, 36, 39, 0) 85%, rgba(0, 0, 0, 0.2) 100%);
    /* W3C */ }

table.list input {
  float: none; }

td.text {
  text-align: left; }

td.total {
  font-weight: bold; }

td img {
  vertical-align: middle; }

tbody.total {
  color: #33f;
  font-weight: bold; }
  tbody.total td {
    background: #9c9; }

form.rech {
  display: inline-block; }
  form.rech select {
    margin-left: 0; }
  form.rech input {
    width: auto; }

article .en_ligne {
  display: inline;
  margin: 0 0 0 1em; }

input[type="submit"].en_ligne {
  margin-top: 0;
  margin-left: 1em;
  padding: 0.2em; }

input {
  display: inline; }

p.msg {
  margin: 1em 2em;
  padding: 1em;
  border: 1px solid #999;
  background: #eed;
  font-size: 12px;
  font-weight: bold; }

#rechercher {
  display: inline;
  margin-left: auto; }

th {
  padding: 0.5em 4px;
  border: 1px solid gray;
  background: #A4C8BD;
  font-weight: bold; }

/* Mise en forme du tableau index, du formulaire _form */
th::first-letter, label::first-letter {
  text-transform: uppercase; }

th.action {
  padding: 4px;
  background: orange; }

th.nil {
  background: transparent; }

tr.equipage th {
  color: white;
  background: #474; }

td {
  padding: 0.5em 0.6em;
  text-align: left; }

.centre {
  text-align: center; }

td.classement {
  min-width: 5em;
  text-align: center; }

table.detail tr td:first-child {
  padding: 0.2em;
  font-weight: bold;
  color: #384; }

input[type='submit'], input[type='button'], button, .bouton {
  width: auto;
  margin-top: 2em;
  padding: 0.8em;
  font-weight: bold;
  font-size: 1.1em;
  border-radius: 0.8em 0.8em 0.8em 0.8em;
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.2);
  background: -moz-linear-gradient(top, #FAA51A 0%, #F47A20 100%);
  /* FF3.6+ */ }

tfoot input[type='submit'] {
  margin: 0.5em; }

#voir {
  margin: auto; }

/*classe positionnee par application.js*/
a.bouton {
  display: inline-block;
  margin: 1em 1em 1em 0;
  text-decoration: none;
  color: #444; }

.validation-advice, #msg_erreur a {
  color: red;
  font-weight: bold;
  text-decoration: none; }

#msg_erreur {
  position: absolute;
  top: 134px;
  left: 41px; }
  #msg_erreur a {
    font-size: 18px; }
  #msg_erreur a:hover {
    text-decoration: underline; }

#error_explanation, #flash_notice, #flash_error, #flash_alert {
  position: absolute;
  top: 50%;
  left: 30%;
  z-index: 100;
  max-width: 700px;
  padding: 1em;
  border: 2px solid red;
  background: white url(/assets/fermer-b4c6f3a92deac74e59201d4dc591db47e31571edef0fcd9d896269178fc594cb.png) no-repeat 99% 5%;
  color: red;
  border-radius: 7px;
  box-shadow: 10px 10px 15px #555; }

#flash_notice {
  border-color: green;
  color: green; }

.warning {
  color: red;
  font-weight: bold; }

legend {
  color: #3d4d1f;
  font-weight: bold; }

fieldset, .groupe_infos {
  margin: 0.5em 1em;
  margin: 0.5em 0;
  padding: 0.5em;
  border: 1px solid gray;
  background: #A4C8BD; }

fieldset fieldset {
  background: #739f7a;
  margin-left: 0; }
  fieldset fieldset fieldset {
    background: #a0d1a8; }

.errorExplanation, .errorExplanation *, .formError {
  color: red; }

.fieldWithErrors {
  border: 2px solid red; }

.important {
  color: red; }

/* Positionnement des vignettes pour affichage via le sprite sprite.png */
.xlogo {
  position: absolute;
  top: 34px;
  left: 25px;
  height: 45px;
  width: 155px;
  background: url(/assets/sprite-b1c9368eb73ade598bb85d95719c8296452c88bcca895b5d37a60f1b2aacabe5.png) 227px 48px; }

table a.email {
  display: inline;
  background-image: none; }

ul {
  margin-left: 1em; }

a[href*=".pdf"] {
  display: inline-block;
  margin: auto;
  width: 30px;
  height: 30px;
  background: url(/assets/sprite-b1c9368eb73ade598bb85d95719c8296452c88bcca895b5d37a60f1b2aacabe5.png) no-repeat;
  background-position: -66px -0px; }

.annuler {
  display: block;
  margin: auto;
  width: 30px;
  height: 30px;
  background: url(/assets/sprite-b1c9368eb73ade598bb85d95719c8296452c88bcca895b5d37a60f1b2aacabe5.png) no-repeat; }

.annuler {
  background-position: -240px -30px; }

/* Fin de positionnement des vignettes pour affichage via le sprite sprite.png */
.edit, .loupe, .bin, .export_csv, .cloner, .ajouter, .retirer, .printer, .executer {
  display: block;
  margin: auto;
  background-repeat: no-repeat;
  width: 16px;
  height: 16px;
  background: url(/assets/sprite-b1c9368eb73ade598bb85d95719c8296452c88bcca895b5d37a60f1b2aacabe5.png) no-repeat; }

.ajouter {
  background-position: 0 -2px; }

.retirer {
  background-position: -16px -2px; }

.edit {
  background-position: -48px -2px; }

.cloner {
  background-position: -32px -2px; }

.printer {
  background-position: 0 -38px; }

.loupe {
  background-position: -16px -38px; }

.bin {
  background-position: -66px -38px; }

.export_csv {
  background-position: -16px -20px; }

.executer {
  background-position: -48px -36px; }

.classement a {
  display: inline;
  background: none; }

.stat {
  float: right; }

.pagination {
  margin-top: 1em; }

.pagination a {
  display: inline-block;
  color: #333;
  background: #dbb83e;
  padding: .3em .5em;
  margin: .2em;
  border: 1px solid #333;
  text-decoration: none; }

.pagination a:hover {
  background: #F5F5DC;
  border-color: #111;
  box-shadow: 7px 4px 21px rgba(0, 0, 0, 0.8); }

.desactive {
  color: gray; }

/* Pésentation des champs à autocomplétion */
.ui-autocomplete {
  float: left; }
  .ui-autocomplete .ui-menu-item {
    list-style: none; }

.vignette {
  witdh: 75px;
  height: 100px; }

legend.connexion {
  font-size: 1.5em; }
