article ul {
  margin-bottom: 2em; }

article li {
  margin-top: 1em;
  margin-left: 2em;
  list-style: outside none square; }

.contenu {
  margin-left: 1%; }

.action {
  float: left;
  height: 50%;
  width: 50%; }

.action--equipage, .action--connexion {
  float: left;
  width: 45%;
  margin-left: 1%;
  margin-bottom: 3%;
  list-style: none; }

.action a {
  display: block;
  height: 4em;
  width: 70%;
  padding: 38% 11% 0;
  border: 2px outset #1C94C4;
  background: #d5d1ba no-repeat 5% 5%;
  background-size: 35% 50%;
  color: #363636;
  font-size: 1.5em;
  text-align: center;
  text-decoration: none; }

.action a:hover {
  background-color: #b9b396; }

.action--equipage a {
  background-image: url(/assets/catalogue-d4997b97c607ce3e9406ba63d7eceb52d968e5c4beae0083449a4ebe485f1465.png); }

.action--connexion a {
  background-image: url(/assets/catalogue-d4997b97c607ce3e9406ba63d7eceb52d968e5c4beae0083449a4ebe485f1465.png); }

.moteur {
  clear: left;
  margin-left: 1%; }
