<p>Bonjour <%= @resource.email %>!</p>

<p>Quelqu'un a demandé a changé votre mot de passe. Pour ce faire, cliquez sur le lien ci-dessous.</p>

<p><%= link_to 'Changer mon mot de passe', edit_password_url(@resource, :reset_password_token => @resource.password_reset_token) %></p>

<p>Si vous n'êtes pas à l'origine de cette demande, veuillez ignorer cet email.</p>
<p>Votre mot de passe ne sera modifié qu'après avoir cliqué sur le lien et défini votre nouveau mot de passe.</p>

