<!DOCTYPE html>
<html lang="fr">
	<head>
		<title>Inscriptions Raid NOREV 2018</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <%= render "layouts/head" %>
    <%= stylesheet_link_tag "home" %>
	</head>

	<body id="accueil">
    <%= render "layouts/corps" %>

    <%= javascript_include_tag "application" %>
	</body>
</html>
